* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 1440px;
    height: 900px;

    font-family: 'Source Sans Pro';
    font-style: normal;

    background: rgba(255, 254, 251, 0.8);
}

.logo-container {
    width: 100%;
    height: 83px;
    display: flex;
    justify-content: space-between;

}

.right-functioin {
    width: 247px;
    text-align: center;
    margin: 32px 0 16px 32px;

    font-weight: 600;
    font-size: 28px;
    line-height: 35.2px;

    color: #3F3F3F;
}

.button-default {
    width: 121.49px;
    height: 36px;
    margin: 31px 31.51px 16px 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 11px 0;
    align-items:inherit;

    background: #FFFEFB;
    border-radius: 4px;
    border: 0;

    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px #0000001A;

    color: #B4B4B4;
}

.button-default:hover {
    background: rgba(0, 28, 130, 0.665);
    color: #fff;
    transition: 1s;
}

.button-default > p {
    width: 78px;
    height: 15px;
    margin-left: 16px;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.08px;
}

.material-symbols-outlined {
    margin-right: 12px;
    font-size: 16px;
}

.menu {
    width: 100%;
    height: 817px;
    display: flex;
    justify-content: space-between;
}

.form-container {
    width: 332px;
    height: 440px;
    margin: 0 16px 0 32px;
    padding: 24px;

    display: flex;
    flex-direction: column;

    background: rgba(255, 254, 251, 1);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}

.text {
    display: flex;
    flex-direction: row;
}

input:focus { 
    outline: none !important;
    border-color: rgba(0, 28, 130, 0.665);
    box-shadow: 0 0 15px rgba(0, 28, 130, 0.665);;
}

.card__text--1, .card__text--2, .card__text--3, .card__text--4 {
    height: 13px;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 10px;
    line-height: 13px;

    letter-spacing: -0.02em;

    color: #49485E;
}

.product__name, .product__link, .product__cost {
    height: 36px;
    margin-bottom: 16px;
    padding: 10px 0 11px 16px;

    background: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: none;
}

.product__info {
    height: 108px;
    margin-bottom: 16px;
    padding: 10px 0 83px 16px;

    background: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: none;
}

::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #B4B4B4;
}

.button-add {
    height: 36px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    text-align: center;
    letter-spacing: -0.02em;

    color: #B4B4B4;

    cursor: pointer;

    background: #EEEEEE;
    border-radius: 10px;
    border: none;
}

.button-add:hover {
    background: rgba(0, 28, 130, 0.665);
    color: #fff;
    transition: 1s;
}

.circle {
    width: 4px;
    height: 4px;
    background-color: rgba(255, 132, 132, 1);
    border-radius: 50%;
}

.products {
    width: 1060px;
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 8px;
}

.card {
    width: 332px;
    height: 423px;
    width: calc(1/3*100% - 16px);
    margin: 0 16px 16px 0;
    display: flex;
    flex-direction: column;

    background: #FFFEFB;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}

.backGroundImage {
    width: 332px;
    height: 200px;

    border-radius: 4px 4px 0px 0px;
}

.card__name {
    margin: 0 16px 16px 16px;

    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    color: #3F3F3F;
}

.card__info {
    margin: 0 16px 0 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #3F3F3F;
}

.card__cost {
    margin: 16px;
    margin-top: 32px;

    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

    color: #3F3F3F;
}

.close {
    color: #fff;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border:none;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 16px;
}
.close:hover {
    background-color: rgba(255, 132, 132, 1);
}